<head>
    <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/customizations.css" type="text/css" rel="stylesheet">

    {% block meta %}

    {% endblock %}
</head>
<body>
    <div class="bs-component">
        {% include "navbar.html" %}

        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>
        
    <div id="wrapper">
        {% include "sidebar.html" %}

        {% block content %}

        {% endblock %}

        <!-- Page content -->
       

    </div>
    
    {% block jsfooter %}

    {% endblock %}
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        if($("#wrapper").is('.active')){
            $("#menu-toggle i").addClass("glyphicon-chevron-left").removeClass("glyphicon-chevron-right");
        } else {
            $("#menu-toggle i").addClass("glyphicon-chevron-right").removeClass("glyphicon-chevron-left");
        }
    });
    </script>
    </body>
</html>