{% extends "base.html" %}

{% block content %}
<div id="page-content-wrapper">
    <div class="content-header">
        <h1>
            <button type="button"  id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
            Be a Hero - Humble Hero!
        </h1>
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Top images:</p>
            </div>
            <!-- col-6 col-md-4 col-sm-6 .col-xs-6 col-lg-3  -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">Top videos:</p>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
                <p class="well home-grid-img"><img src="http://placehold.it/200x200&text=Image"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ top_contributors }}
            </div>
        </div>
    </div>
</div>
{% endblock %}