{% extends "base.html" %}

{% block content %}
lorem200
<div id="page-content-wrapper">
    <div class="content-header">
        <h1>
            <button type="button"  id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
            Be a Hero - Humble Hero!
        </h1>
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
        
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Top images:</p>
            </div>
            <!-- col-6 col-md-4 col-sm-6 .col-xs-6 col-lg-3  -->
            {% for image in images %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="well home-grid-img">
                        <a href="{% url 'resources:detail' image.pk %}">
                            <img src="/media/{{ image.get_previews.0 }}">
                        </a>
                        <p>{{ image.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">Top videos:</p>
            </div>

           {% for video in videos %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="well home-grid-img">
                        <a href="{% url 'resources:detail' video.pk %}">
                            <img src="/media/{{ video.get_previews.0 }}">
                        </a>
                        <p>{{ video.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}