        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Categories</a>
                </li>
                <li><a href="/browse/image">Image</a>
                </li>
                <li><a href="/browse/audio">Audio</a>
                </li>
                <li><a href="/browse/video">Video</a>
                </li>
                <li><a href="/browse/snippet">Snippet</a>
                </li>
                <li><a href="/browse/document">Document</a>
                </li>
            </ul>
        </div>

