#page-content-wrapper{
  padding-top: 45px;
}

.navbar.navbar-default {
  margin-bottom: 0;  
  position: fixed;
  width: 100%;
  z-index: 1001;
}
.home-grid-img {
	width:240px;
}

/* sidebar rewrites */
#wrapper {
  padding-left: 160px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -160px;
  left: 160px;
  width: 160px;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  top: 40px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 160px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 160px;
    width: 160px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
  }
  #menu-toggle i{
    width: 15px;
    height: 15px;
  }
  .inset {
    padding: 15px;
  }

}
