{% extends "base.html" %}
{% load price %}

{% block content %}
<div id="page-content-wrapper">
    <div class="page-content inset">
        <h3>{{ resource.title }}</h3>
        <p>{{ resource.description }}</p>
        <p>{{ resource.description }}</p>
        <p>Author: {{ resource.author.get_full_name }}</p>
        <p>Causes:
        {% for cause in resource.causes.all %}
            <a href="{% url 'causes:details' cause.id %}">{{ cause }} 
            {% if not forloop.last %},{% endif %}
            </a>
        {% endfor %}  
        </p>
        <p>Mininal price: <strong>{{ resource.min_price|price }}</strong></p>
    </div>
</div>
{% endblock %}