{% extends "base.html" %}
{% load price %}

{% block content %}
<div id="page-content-wrapper">
    <div class="page-content inset">
        <h3>{{ resource.title }}</h3>
        <div class="content-heading clearfix media" style="float: left; margin-right: 20px; ">
            <img src="/media/{{ resource.get_previews.0 }}" style="border: 3px solid; margin-bottom: 20px;">
        </div>
        {% autoescape on %}
            <p>{{ resource.description }}</p>
        {% endautoescape %}
        <p>Author: {{ resource.author.get_full_name }}</p>
        <p>Causes:
        {% for cause in resource.causes.all %}
            <a href="{% url 'causes:details' cause.id %}">{{ cause }} 
            {% if not forloop.last %},{% endif %}
            </a>
        {% endfor %}  
        </p>
        <p>Mininal price: <strong>{{ resource.min_price|price }}</strong></p>
        <a href="{% url 'resources:buy' resource.pk%}"><button class="btn btn-primary">Buy now</button></a>
    </div>
</div>
{% endblock %}
