{% extends "base.html" %}
{% load price %}

{% block content %}
<div id="page-content-wrapper">
    <div class="page-content inset">
 <span class="payment-errors"></span>
  <form action="" method="POST" id="payment-form"  class="col-md-6">
    {% csrf_token %}
    <span class="payment-errors"></span>


    <div class="form-group" style="width: 85%; float: left;">
      <label>Card Number</label>
        <input type="text" size="20" data-stripe="number" class="form-control"/>
    </div>

    <div class="form-group" style="width: 15%; float: left; padding-left: 15px;">
      <label>CVC</label>
        <input type="text" size="3" data-stripe="cvc" class="form-control" style="width: 70px;" />
    </div>

    <div class="form-group">
      <label>Expiration (MM/YYYY)</label>
        <input type="text" size="2" data-stripe="exp-month" class="form-control" style="width: 50px; display: inline;" />
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year" class="form-control" style="width: 80px;  display: inline;" />
    </div>

    <div class="form-group">
      <label>Price, minimum: {{ resource.min_price|price }}</label>
      <input type="number" name="amount" step="0.01" class="form-control"/>
    </div>

    <div class="form-group">
      <label>For Cause</label>
        <select name="cause_id" class="form-control">
          {% for cause in resource.causes.all %}
            <option value={{ cause.pk }}>
              {{ cause.title }}
            </option>
          {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Submit Payment</button>
  </form>
</div>
</div>
{% endblock %}

{% block jsfooter %}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('{{ stripe_secret }}');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
{% endblock %}
